<a href="https://colab.research.google.com/github/YellowRoot/UTS-PDS/blob/main/autos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Project ini dibuat sebagai tugas pengganti UTS untuk matakuliah Probabilitas dan Statistik. 

Project ini menggunakan library Numpy dan Pandas, dan dataset penjualan mobil bekas di Jerman (**autos.csv**)

In [ ]:
import numpy
import pandas as pd

autos = pd.read_csv("autos.csv", encoding="ISO-8859-1")

In [ ]:
# Display the dataframe
display(autos)

In [ ]:
display(autos.info())
display(autos.head())

autos.info() menunjukkan informasi mengenai dataframe autos
autos.head() menunjukkan 5 baris pertama dari dataframe autos

In [ ]:
# Print all column names of the dataframe
print(autos.columns)

# Rename the columns
autos.rename(columns = {'yearOfRegistration':'registration_year', 'monthOfRegistration':'registration_month',
                        'notRepairedDamage':'unrepaired_damage', 'dateCreated':'ad_created',
                        'dateCrawled':'date_crawled','offerType':'offer_type', 'abtest':'ab_test', 'vehicleType':'vehicle_type',
                        'powerPS':'power_PS', 'kilometer':'odometer', 'fuelType':'fuel_type', 'nrOfPictures':'num_of_pictures',
                        'postalCode':'postal_code', 'lastSeen':'last_seen'}, inplace=True)
display(autos.head(30))

Perubahaan yang dibuat :


*   yearOfRegistration : registration_year (Camelcase menjadi Snakecase)
*   monthOfRegistration : registration_month (Camelcase menjadi Snakecase)
*   notRepairedDamage : unrepaired_damage (Camelcase menjadi Snakecase, dan lebih mudah dimengerti)
*   dateCreated : ad_created (Camelcase menjadi Snakecase, dan lebih deskriptif)
*   dateCrawled : date_crawled (Camelcase menjadi Snakecase)
*   offerType : offer_type (Camelcase menjadi Snakecase)
*   abtest : ab_test (Camelcase menjadi Snakecase)
*   vehicleType : vehicle_type (Camelcase menjadi Snakecase)
*   powerPS : power_PS (Camelcase menjadi Snakecase)
*   kilometer : odometer (Lebih deskriptif)
*   fuelType : fuel_type (Camelcase menjadi Snakecase)
*   nrOfPictures : num_of_pictures (Camelcase menjadi Snakecase, dan lebih mudah dimengerti)
*   postalCode : postal_code (Camelcase menjadi Snakecase)
*   lastSeen : last_seen (Camelcase menjadi Snakecase)

In [ ]:
display(autos.describe(include="all"))

*   Kolom **num_of_pictures** hanya memiliki satu nilai.
*   Kolom **seller** dan **offer_type** hampir semuanya memiliki satu nilai.



---


*   Kolom **price** dan **odometer** membutuhkan investigasi lebih lanjut untuk menentukan tipe datanya.

In [ ]:
print(autos.dtypes)

Disini dapat dilihat bahwa kolom **price** dan **odometer** memiliki tipe data int, sehingga tidak perlu dilakukan konversi lagi.

In [ ]:
# Change column name from odometer into odometer_km
autos.rename(columns = {'odometer':'odometer_km'}, inplace=True)

In [ ]:
# Print odometer_km data details
print(autos['odometer_km'].unique().shape)
print(autos['odometer_km'].describe())
print(autos['odometer_km'].value_counts(ascending=True))

In [ ]:
# Print price data details
print(autos['price'].unique().shape)
print(autos['price'].describe())
print(autos['price'].value_counts().head(20))

In [ ]:
# Removing outliers in odometer_km column using IQR method
q1 = autos['odometer_km'].quantile(.25)
q3 = autos['odometer_km'].quantile(.75)
iqr = q3 - q1
upper_limit = q3 + 3 * iqr
lower_limit = q1 - 3 * iqr
autos_odometer = autos[autos['odometer_km'].between(lower_limit, upper_limit)]
display(autos_odometer['odometer_km'].describe())

In [ ]:
# Removing outliers in price column using IQR method
q1 = autos['price'].quantile(.25)
q3 = autos['price'].quantile(.75)
iqr = q3 - q1
upper_limit = q3 + 3 * iqr
lower_limit = q1 - 3 * iqr
autos_price = autos[autos['price'].between(lower_limit, upper_limit)]
print(autos_price['price'].describe())

Pembuangan nilai-nilai outlier dilakukan dengan metode **Interquartile Range (IQR)**.

In [ ]:
# Remove timestamps from date
autos['date_crawled'] = autos['date_crawled'].str[:10]
print(autos['date_crawled'].value_counts(normalize=True, dropna=False).sort_index())

Crawling terbanyak terjadi pada tanggal 1 April 2016 dengan jumlah 0.038735% dari total crawling yang dilakukan.

Crawling terkecil terjadi pada tanggal 7 April 2016 dengan jumlah 0.001620% dari total crawling yang dilakukan.

In [ ]:
# Remove timestamps from date
autos['ad_created'] = autos['ad_created'].str[:10]
print(autos['ad_created'].value_counts(normalize=True, dropna=False).sort_index())

Kolom **tanggal iklan dibuat** memiliki data yang dimulai dari tanggal 10 Maret 2014 sampai 7 April 2016.

In [ ]:
# Remove timestamps from date
autos['last_seen'] = autos['last_seen'].str[:10]
print(autos['last_seen'].value_counts(normalize=True, dropna=False).sort_index())

Kolom **terakhir dilihat** memiliki data terbanyak pada tanggal 6 April 2016 dengan jumlah 0.217830% dari total.

Kolom **terakhir dilihat** memiliki data terkecil pada tanggal 5 Maret 2016 dengan jumlah 0.001292% dari total.

In [ ]:
print(autos['registration_year'].describe())

Kolom tahun registrasi memiliki data minimal 1000 dan maksimal 9999.

Hal ini menandakan bahwa terdapat nilai-nilai outlier yang tidak sesuai, karena tidak mungkin mobil telah ada pada tahun 1000, dan tahun 9999 adalah masa yang akan mendatang.

In [ ]:
# Select upper and lower limits of valid registration years
upper_limit = 2016
lower_limit = 1900

Batasan yang dipilih adalah dari tahun 1900 - tahun 2016.

Tahun 1900 dipilih sebagai batas bawah dari data, adalah karena New York, negara bagian pertama yang mengharuskan mobil memiliki plat mobil, memberlakukan peraturan tersebut pada tahun 1901.

Tahun 2016 dipilih sebagai batas atas dari data, karena tahun terakhir data dikumpulkan adalah pada tahun 2016.

In [ ]:
# Remove outliers from registration_year
autos_registration_year = autos[autos['registration_year'].between(lower_limit, upper_limit)]
autos_registration_year['registration_year'].value_counts(normalize=True).sort_index()

Setelah pembuangan data outlier, data yang tersisa pada kolom **tahun registrasi** adalah dari tahun 1910 - tahun 2016.

In [ ]:
# Select 20 most common brands
brands = autos['brand'].value_counts(normalize=True)
top_brands = autos[autos['brand'].isin(brands.index[:20])]['brand'].unique()

Merk-merk mobil yang dipilih adalah 20 merk yang paling sering muncul pada data set.

In [ ]:
brand_mean_prices = {}

# Assign brands and their average mileage into a dictionary
for brand in top_brands:
  brand_price = autos.loc[autos['brand'] == brand]['price'].mean()
  brand_mean_prices.update({brand : brand_price})

In [ ]:
display(brand_mean_prices)

Merk mobil dengan mean harga tertinggi adalah **Sonstige Autos** (615647)

Merk mobil dengan mean harga terendah adalah **Renault** (2334)

In [ ]:
brand_mean_mileage = {}

# Assign brands and their average mileage into a dictionary
for brand in top_brands:
  brand_mileage = autos.loc[autos['brand'] == brand]['odometer_km'].mean()
  brand_mean_mileage.update({brand : brand_mileage})

In [ ]:
# Convert dictionaries into series objects
bmp_series = pd.Series(brand_mean_prices)
bmm_series = pd.Series(brand_mean_mileage)

In [ ]:
# Create dataframe from series objects
df = pd.DataFrame(bmp_series, columns=['mean_price'])
df = df.assign(mean_mileage = bmm_series)
display(df)

Dari dataframe di atas, dapat dilihat bahwa **Volkswagen** memiliki mean mileage yang lebih rendah daripada **Audi**, tetapi mean harga **Volkswagen** lebih tinggi daripada **Audi**. Sedangkan **Skoda** yang memiliki mean mileage yang juga lebih rendah daripada **Audi**, memiliki mean harga yang lebih rendah daripada **Audi**.

Kesimpulan : Mileage dan Harga kelihatannya tidak saling berkaitan.

In [ ]:
# Replacing all German caterorical data into its English counterpart
autos['seller'].mask(autos['seller'] == 'privat', "private", inplace=True)

autos['vehicle_type'].mask(autos['vehicle_type'] == 'kleinwagen', "compact car", inplace=True)
autos['vehicle_type'].mask(autos['vehicle_type'] == 'cabrio', "convertible", inplace=True)
autos['vehicle_type'].mask(autos['vehicle_type'] == 'kombi', "station wagon", inplace=True)
autos['vehicle_type'].mask(autos['vehicle_type'] == 'andere', "others", inplace=True)


autos['gearbox'].mask(autos['gearbox'] == 'manuell', "manual", inplace=True)
autos['gearbox'].mask(autos['gearbox'] == 'automatik', "automatic", inplace=True)


autos['fuel_type'].mask(autos['fuel_type'] == 'benzin', "petrol", inplace=True)
autos['fuel_type'].mask(autos['fuel_type'] == 'elektro', "electric", inplace=True)
autos['fuel_type'].mask(autos['fuel_type'] == 'andere', "others", inplace=True)


autos['unrepaired_damage'].mask(autos['unrepaired_damage'] == 'ja', "yes", inplace=True)
autos['unrepaired_damage'].mask(autos['unrepaired_damage'] == 'nein', "no", inplace=True)

In [ ]:
# Convert dates into uniform numerical data
autos['date_crawled'] = autos['date_crawled'].str[:10]
autos['date_crawled'] = autos['date_crawled'].str.replace("-","").astype(int)

autos['ad_created'] = autos['ad_created'].str[:10]
autos['ad_created'] = autos['ad_created'].str.replace("-","").astype(int)

autos.dropna(inplace=True)
autos['last_seen'] = autos['last_seen'].str.replace("-","").astype(int)

In [ ]:
display(autos)

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gearbox,power_PS,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_of_pictures,postal_code,last_seen
3,20160317,GOLF_4_1_4__3TÜRER,private,Angebot,1500,test,compact car,2001,manual,75,golf,150000,6,petrol,volkswagen,no,20160317,0,91074,20160317
4,20160331,Skoda_Fabia_1.4_TDI_PD_Classic,private,Angebot,3600,test,compact car,2008,manual,69,fabia,90000,7,diesel,skoda,no,20160331,0,60437,20160406
5,20160404,BMW_316i___e36_Limousine___Bastlerfahrzeug__Ex...,private,Angebot,650,test,limousine,1995,manual,102,3er,150000,10,petrol,bmw,yes,20160404,0,33775,20160406
6,20160401,Peugeot_206_CC_110_Platinum,private,Angebot,2200,test,convertible,2004,manual,109,2_reihe,150000,8,petrol,peugeot,no,20160401,0,67112,20160405
7,20160321,VW_Derby_Bj_80__Scheunenfund,private,Angebot,0,test,limousine,1980,manual,50,andere,40000,7,petrol,volkswagen,no,20160321,0,19348,20160325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371520,20160319,turbo_defekt,private,Angebot,3200,control,limousine,2004,manual,225,leon,150000,5,petrol,seat,yes,20160319,0,96465,20160319
371521,20160327,Opel_Zafira_1.6_Elegance_TÜV_12/16,private,Angebot,1150,control,bus,2000,manual,0,zafira,150000,3,petrol,opel,no,20160327,0,26624,20160329
371524,20160305,Smart_smart_leistungssteigerung_100ps,private,Angebot,1199,test,convertible,2000,automatic,101,fortwo,125000,3,petrol,smart,no,20160305,0,26135,20160311
371525,20160319,Volkswagen_Multivan_T4_TDI_7DC_UY2,private,Angebot,9200,test,bus,1996,manual,102,transporter,150000,3,diesel,volkswagen,no,20160319,0,87439,20160407
371527,20160307,BMW_M135i_vollausgestattet_NP_52.720____Euro,private,Angebot,28990,control,limousine,2013,manual,320,m_reihe,50000,8,petrol,bmw,no,20160307,0,73326,20160322

Warning: total number of rows (260956) exceeds max_rows (20000). Limiting to first (20000) rows.

In [ ]:
# Find the most common combination of brand and model
print(autos.groupby(['brand', 'model']).size().idxmax())

('volkswagen', 'golf')

In [ ]:
# Calculating the average prices of damaged and undamaged cars
damaged_car_mean_prices = autos.loc[autos['unrepaired_damage'] == "yes"]['price'].mean()
undamaged_car_mean_prices = autos.loc[autos['unrepaired_damage'] == "no"]['price'].mean()
damaged_vs_undamaged_price = "{:.2f}".format(((damaged_car_mean_prices / undamaged_car_mean_prices) * 100))

# Print results
print("average damaged car price : ", damaged_car_mean_prices)
print("average undamaged car price : ", undamaged_car_mean_prices)
print()
print("On average, car with damage is {:s}% cheaper than its counterpart.".format(damaged_vs_undamaged_price))

average damaged car price :  5946.299000357016
average undamaged car price :  8480.655911670516

On average, car with damage is 70.12% cheaper than its counterpart.